div{
    background-color:azure;
    color:blue;
    padding: 20px;
    text-align: center;
}
div.pic img{
    width: 80px;
    height:auto;
}
img:hover{
    width: 80px;
    height: auto;
    opacity: 0.5;
}
h2{
    font-size:20px;
    font-style: oblique;
    color:aqua;
}
input[type=number]{
    width: 100px;
    display:block;
    background-color:lavenderblush;
    color:black;
}